## Bharat Sharma

Oct 31, 2022 onward...
bharat.sharma.neu@gmail.com

Aim: to plot site level plots of the data

In [ ]:
# libraries
import os
import pandas as pd
import pyreadr # to read .rds files

In [4]:
# paths [model]
wd_obs  =  '/Users/ud4/Documents/FATESMDS/Models/obs_data'
root    =  '/Users/ud4/Documents/FATESMDS/Models/FATES/runs/FACE/'
wd_src  =  f'{root}FATESFACE_analysis' 
moddate_ens = '221031'
moddate     = '221031'
wdo         = f'{root}{moddate}/plots'

In [9]:
# paths [obs]
# Preparing the obs files
# reading the files
df_co2 = pd.read_csv(f'{wd_obs}/site_annual_CO2.csv')
# replacing the original abreviations of 'a' and 'e' to AMB and ELE; ambient and elevated
df_co2['co2'] = df_co2['co2'].replace({'a':'AMB','e':'ELE'})
# renaming year to year
df_co2= df_co2.rename(columns={'year':'YEAR'})

In [31]:
# reading RDS data

ifile  = 'OBS_ax.rds'
df_obs = pyreadr.read_r(f'{wd_obs}/{ifile}')
df_obs = df_obs[None] # same as pandas dataframe

In [49]:
df_obs

,YEAR,DOY,CO2,PPT,PAR,AT,ST,VPD,SW,NDEP,...,CL_herb,CFR_herb,CFR_lt1mm,CFR_1t2mm,CLLFALL2,SLA,REPRLIN,CLLFALLp,CLLFALLh,LAD
rownames,,,,,,,,,,,,,,,,,,,,,
1,1998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,753.003333
3,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,809.733333
4,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,816.156667
5,2002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,825.933333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,2009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,2012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
print(df_obs.columns)

Index(['YEAR', 'DOY', 'CO2', 'PPT', 'PAR', 'AT', 'ST', 'VPD', 'SW', 'NDEP',
       ...
       'CL_herb', 'CFR_herb', 'CFR_lt1mm', 'CFR_1t2mm', 'CLLFALL2', 'SLA',
       'REPRLIN', 'CLLFALLp', 'CLLFALLh', 'LAD'],
      dtype='object', length=165)

In [32]:
df_co2

     year         CO2  co2  site
0    2006  355.491179  AMB  PHAC
1    2007  360.282307  AMB  PHAC
2    2008  361.853206  AMB  PHAC
3    2009  364.883917  AMB  PHAC
4    2010  366.883818  AMB  PHAC
..    ...         ...  ...   ...
141  2004  526.355624  ELE  ORNL
142  2005  510.803058  ELE  ORNL
143  2006  532.386634  ELE  ORNL
144  2007  551.067719  ELE  ORNL
145  2008  545.435128  ELE  ORNL

[146 rows x 4 columns]

df_obs <- df_obs %>% 
  left_join(df_co2, by=c('site','YEAR','co2'), suffix=c('','.real') ) %>%
  filter(site=='DUKE'|site=='ORNL')

In [37]:
df_obs.query("site" == "DUKE" & "site" == "ORNL")

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [47]:
df_obs['site'][df_obs['site']=='DUKE' & 'ORNL'] #& df_obs['site'][df_obs['site']=='ORNL']

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [48]:
df_obs[(df_obs.site=='DUKE') | (df_obs.site=='ORNL')]

,YEAR,DOY,CO2,PPT,PAR,AT,ST,VPD,SW,NDEP,...,CL_herb,CFR_herb,CFR_lt1mm,CFR_1t2mm,CLLFALL2,SLA,REPRLIN,CLLFALLp,CLLFALLh,LAD
rownames,,,,,,,,,,,,,,,,,,,,,
1,1998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,753.003333
3,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,809.733333
4,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,816.156667
5,2002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,825.933333
6,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,825.856667
7,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,674.236667
8,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,822.663333
9,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,838.750000
10,2007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,819.076667
11,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,556.416667
12,1998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,757.100000
14,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,876.900000
15,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,872.130000
16,2002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,800.040000
17,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,775.330000
18,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,696.640000
19,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,930.245000
20,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,925.120000
21,2007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,804.060000
22,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,559.720000
118,1996.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.856106,171.948000,41.400000,982.840000
218,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.323333,158.641733,47.879867,998.896667
317,1998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.728333,192.802867,51.625800,1175.040000
417,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.742424,216.721766,51.719803,1164.423333
59,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.844564,226.856888,42.327054,1233.586667
65,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.547488,208.484142,44.600910,1367.086667
75,2002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.219340,213.720148,42.855983,1322.120000
85,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.164605,226.780912,41.266914,1018.060000
95,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.391763,168.365789,36.723157,1125.980000
105,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.627820,234.279557,54.743041,1215.280000
119,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1300.386667
125,2007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1142.770000
135,1996.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.334761,164.296667,44.834667,975.646667
145,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.081667,157.530067,55.147867,1049.103333
155,1998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.391667,222.140133,60.076000,1366.896667
165,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.379409,257.817874,58.078283,1365.980000
175,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13.053022,250.713094,51.774981,1454.813333
185,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.996640,246.980711,43.831528,1547.943333
195,2002.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.870142,257.377061,45.575850,1496.760000
205,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.306400,271.336753,43.601973,1176.300000
219,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.556639,199.993128,36.786900,1326.390000
225,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.783940,303.407105,65.305225,1552.726667
23,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1536.546667
24,2007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1446.066667

In [51]:
os.getlogin()

'ud4'